@page
@model CRMSystem.Pages.ProceduresAnalyticsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Layouts/_Layout";
}

<div class="container" style="width:720px">
    <div class="row">
        <h2 class="text-center">Статистика услугам</h2>
    </div>
    <div class="row">
        <table class="table table-striped" style="width:100%">
                <thead class="text-center">
                    <tr>
                        <th>
                            Название услуги
                        </th>
                        <th>
                            Общая выручка
                        </th>
                        <th>
                            Количество оказанных услуг
                        </th>
                        <th>
                            Средний чек
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach(var p in Model.AppointmentGroups)
                    {
                        
                        <tr class="text-center">
                            <td>
                                @p.Key.Name
                            </td>
                            <td>
                            @if (p.Count() != 0)
                            {
                                
                                @p.Where(a => a.IsMissed == false).Sum(a => a.Price is null ? 0 : (double)a.Price)
                            }
                            </td>
                            <td>
                            @if (p.Count() != 0)
                            {
                                @p.Where(a => a.IsMissed == false).Count()
                            }
                        </td>
                            <td>
                            @if (p.Count() != 0)
                            {
                                @($"{p.Where(a => a.IsMissed == false).Sum(a => a.Price is null ? 0 : (double)a.Price) / p.Count():0.##}")
                            }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>
